header {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  transition: 0.35s;
}
.header img {
  padding-left: 16px;
}
.nav {
  display: flex;
  align-items: center;
  transition: 0.35s;
}
.navItem {
  margin-right: 32px;
  list-style-type: none;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  transition: 0.35s;
}
@media screen and (max-width: 991px) {
  .navItem {
    display: none;
  }
}
.hamburger {
  display: none;
  transition: 0.35s;
  margin-top: 2.5%;
}
@media screen and (max-width: 991px) {
  .hamburger {
    display: block;
    margin-right: 20px;
  }
}
.hamburgerMenu {
  display: none;
  position: absolute;
  padding: 30px 20px 30px 20px;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  align-items: center;
  transition: 0.35s;
}
@media screen and (max-width: 575px) {
  .hamburgerMenu {
    max-width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 340px) {
  .hamburgerMenu {
    max-width: 100%;
    margin-right: 5px;
  }
}
.hamburgerMenu .hamItem {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  margin-right: 10%;
  margin-left: auto;
  transition: 0.35s;
}
@media screen and (max-width: 340px) {
  .hamburgerMenu .hamItem {
    font-size: 8px;
    margin-right: 5px;
    padding-left: 5px;
  }
}
.hamburgerMenu .ex img {
  margin-top: 8%;
  margin-right: auto;
  height: 20px;
  transition: 0.35s;
}
@media screen and (max-width: 575px) {
  .hamburgerMenu .ex img {
    height: 17px;
    position: absolute;
    right: 20px;
    top: -8.5px;
  }
}
.active {
  display: flex;
  transition: 0.35s;
}
.navItem a {
  text-decoration: none;
  color: #666;
}
.navItem a:hover {
  color: #222;
}
.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  background-color: #222;
  width: 172px;
  height: 40px;
  border-radius: 4px;
  border: 0;
  transition: 0.25s;
}
@media screen and (max-width: 991px) {
  .btn {
    width: 150px;
    height: 40px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 575px) {
  .btn {
    display: none;
  }
}
.btn:hover {
  background-color: #ff5437;
}
.introButton {
  display: flex;
  padding-left: 5px;
  transition: 0.25s;
}
.introLeft .btn {
  margin-right: 10px;
  max-width: 145px;
  max-height: 40px;
  transition: 0.25s;
}
.introContent {
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 991) {
  .introContent {
    margin-top: 0;
  }
}
.introLeft {
  padding-top: 45px;
}
@media screen and (max-width: 1199px) {
  .introLeft {
    padding-top: 100px;
  }
}
@media screen and (max-width: 991px) {
  .introLeft {
    padding-top: 25px;
  }
}
.introLeft h1 {
  max-width: 400px;
  font-size: 54px;
  line-height: 59.4px;
  margin-top: 11px;
  margin-bottom: 18px;
}
@media screen and (max-width: 575px) {
  .introLeft h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
.introLeft p {
  max-width: 394px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}
@media screen and (max-width: 575px) {
  .introLeft p {
    font-size: 14px;
    line-height: 20px;
  }
}
.introRight {
  position: absolute;
  left: 57.5%;
}
@media screen and (max-width: 1199px) {
  .introRight {
    transform: scale(0.85);
    left: 52%;
  }
}
@media screen and (max-width: 767px) {
  .introRight {
    display: none;
  }
}
.features {
  position: relative;
  top: 155px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .features {
    top: 65px;
  }
}
@media screen and (max-width: 991px) {
  .features {
    top: 65px;
  }
}
.featuresContent {
  padding-top: 100px;
  padding-bottom: 84px;
}
.featuresContent p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 575px) {
  .featuresContent p {
    font-size: 12px;
  }
}
.featuresContent h1 {
  max-width: 495px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
@media screen and (max-width: 575px) {
  .featuresContent h1 {
    font-size: 28px;
    line-height: 30px;
  }
}
.featuresCardGallery {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.featuresCardGallery .card {
  position: relative;
  width: 379px;
  height: 490px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 16px;
  transition: 0.25s;
}
@media screen and (max-width: 1235px) {
  .featuresCardGallery .card {
    width: 32%;
  }
}
@media screen and (max-width: 1199px) {
  .featuresCardGallery .card {
    width: 32%;
  }
}
@media screen and (max-width: 991px) {
  .featuresCardGallery .card {
    width: 32%;
    height: 417px;
  }
}
@media screen and (max-width: 767px) {
  .featuresCardGallery .card {
    width: 32%;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card {
    height: 250px;
  }
}
.featuresCardGallery .card .backCard {
  position: absolute;
  left: 20.06%;
  width: 59.89%;
  top: 8.165%;
}
@media screen and (max-width: 767px) {
  .featuresCardGallery .card .backCard {
    width: 80%;
    left: 10%;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card .backCard {
    display: none;
  }
}
.featuresCardGallery .card .underCard {
  position: relative;
  background-color: #fff;
  height: 197px;
  width: 379px;
  left: 0;
  right: 0;
  top: 293px;
  border-radius: 0 0 20px 20px;
  background-color: #F2F2F2;
  width: 100%;
}
@media screen and (max-width: 1235px) {
  .featuresCardGallery .card .underCard {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .featuresCardGallery .card .underCard {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .featuresCardGallery .card .underCard {
    top: 220px;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card .underCard {
    top: 50px;
  }
}
@media screen and (max-width: 380px) {
  .featuresCardGallery .card .underCard {
    top: 50px;
  }
}
.featuresCardGallery .card .logoCard {
  margin-top: -32px;
  margin-bottom: 18px;
  margin-left: 41.42%;
}
@media screen and (max-width: 991px) {
  .featuresCardGallery .card .logoCard {
    margin-top: -32px;
    margin-bottom: 18px;
    margin-left: 83px;
  }
}
@media screen and (max-width: 767px) {
  .featuresCardGallery .card .logoCard {
    margin-top: -32px;
    margin-bottom: 18px;
    margin-left: 49.5px;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card .logoCard {
    margin-top: -32px;
    margin-bottom: 18px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 380px) {
  .featuresCardGallery .card .logoCard {
    margin-top: -32px;
    margin-bottom: 18px;
    margin-left: 11.5px;
  }
}
.featuresCardGallery .card .titleCard {
  color: #0278ED;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 11px;
}
@media screen and (max-width: 991px) {
  .featuresCardGallery .card .titleCard {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .featuresCardGallery .card .titleCard {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card .titleCard {
    font-size: 14px;
  }
}
@media screen and (max-width: 380px) {
  .featuresCardGallery .card .titleCard {
    font-size: 12px;
    line-height: 16px;
  }
}
.featuresCardGallery .card .descripCard {
  margin-left: auto;
  margin-right: auto;
  color: #222;
  max-width: 286px;
  font-size: 15px;
  line-height: 22.4px;
  text-align: center;
  text-transform: unset;
  letter-spacing: normal;
}
@media screen and (max-width: 991px) {
  .featuresCardGallery .card .descripCard {
    font-size: 13px;
    max-width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .featuresCardGallery .card .descripCard {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  .featuresCardGallery .card .descripCard {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 480px) {
  .featuresCardGallery .card .descripCard {
    font-size: 8px;
    line-height: 10px;
  }
}
.featuresCardGallery .card:hover {
  transform: scale(1.05);
}
.characteristics {
  position: relative;
  margin-top: 8.1%;
  width: 100%;
  height: 316px;
  background-color: #ff5437;
}
@media screen and (max-width: 1199px) {
  .characteristics {
    margin-top: 5.5%;
  }
}
@media screen and (max-width: 991px) {
  .characteristics {
    margin-top: 6.6%;
  }
}
@media screen and (max-width: 575px) {
  .characteristics {
    height: 200px;
  }
}
.charContent {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.columnChar {
  width: 31%;
}
.columnChar h1 {
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .columnChar h1 {
    font-size: 68px;
    line-height: 84px;
  }
}
@media screen and (max-width: 575px) {
  .columnChar h1 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}
.columnChar p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 575px) {
  .columnChar p {
    margin-bottom: 0;
  }
}
.intro2Content {
  display: flex;
}
.introLeft2 {
  padding-top: 100px;
}
.introLeft2 p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
.introLeft2 h2 {
  max-width: 409px;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .introLeft2 h2 {
    font-size: 28px;
  }
}
.introLeft2 .descipIntro2 {
  max-width: 403px;
  font-size: 15px;
  line-height: 24px;
  text-transform: unset;
  margin-bottom: unset;
  letter-spacing: normal;
  color: #666;
  margin-bottom: 188px;
}
@media screen and (max-width: 991px) {
  .introLeft2 .descipIntro2 {
    font-size: 14px;
    max-width: 360px;
  }
}
.introRight2 {
  position: absolute;
  left: 57.5%;
}
@media screen and (max-width: 1199px) {
  .introRight2 {
    margin-top: 35px;
    transform: scale(0.9);
    left: 52%;
  }
}
@media screen and (max-width: 991px) {
  .introRight2 {
    transform: scale(0.8);
    left: 52%;
  }
}
@media screen and (max-width: 767px) {
  .introRight2 {
    display: none;
  }
}
.intro3 {
  position: relative;
  width: 100%;
  background-color: #F2F2F2;
  height: 644px;
}
@media screen and (max-width: 991px) {
  .intro3 {
    height: 534px;
  }
}
.intro3Content {
  position: relative;
  width: 100%;
  background-color: #F2F2F2;
  height: 644px;
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 991px) {
  .intro3Content {
    height: 534px;
  }
}
@media screen and (max-width: 767px) {
  .introLeft3 {
    display: none;
  }
}
.introLeft3 img {
  margin-top: 100px;
}
@media screen and (max-width: 991px) {
  .introLeft3 img {
    width: 300px;
  }
}
.introRight3 {
  padding-top: 177px;
}
@media screen and (max-width: 991px) {
  .introRight3 {
    padding-top: 110px;
    margin-right: 0;
    margin-left: auto;
    max-width: 360px;
  }
}
.introRight3 p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
.introRight3 h2 {
  max-width: 409px;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
}
.introRight3 .descipIntro3 {
  max-width: 403px;
  font-size: 15px;
  line-height: 24px;
  text-transform: unset;
  margin-bottom: unset;
  letter-spacing: normal;
  color: #666;
}
.dark {
  background-color: #222;
  width: 100%;
  height: 997px;
  color: #fff;
  transition: 0.5s;
}
@media screen and (max-width: 991px) {
  .dark {
    height: 850px;
  }
}
@media screen and (max-width: 991px) {
  .dark {
    height: 700px;
  }
}
.light {
  color: #222;
  background-color: #fff;
}
.light .switchBtn {
  background-color: #222;
  width: 50%;
  margin-top: -20px;
  padding: 20px 0 15px 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}
@media screen and (max-width: 575px) {
  .light .switchBtn {
    width: 100%;
  }
}
.darkMode {
  padding-top: 100px;
  text-align: center;
}
.darkMode p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 575px) {
  .darkMode p {
    font-size: 10px;
    line-height: 12px;
  }
}
.darkMode h1 {
  max-width: 495px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}
.darkMode .underH1 {
  max-width: 578px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 36px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 575px) {
  .darkMode .underH1 {
    font-size: 14px;
    line-height: 22px;
  }
}
.darkMode img {
  max-width: 400px;
}
@media screen and (max-width: 991px) {
  .darkMode img {
    max-width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .darkMode img {
    max-width: 200px;
  }
}
.darkMode .logoDark {
  display: flex;
}
.darkMode .logoDark :nth-child(1) {
  margin-left: auto;
  transition: 0.25s;
}
.darkMode .logoDark :nth-child(2) {
  margin-right: auto;
  transition: 0.25s;
}
.darkMode .logoDark :hover {
  transform: scale(1.1);
}
.darkMode .line {
  display: block;
  content: "";
  height: 2px;
  width: 600px;
  background-color: #E5E5E5;
  margin-bottom: 42px;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .darkMode .line {
    width: 100%;
  }
}
.price {
  width: 100%;
  height: 100%;
}
.priceContent {
  padding-top: 100px;
  height: 100%;
}
.priceContent p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 575px) {
  .priceContent p {
    font-size: 10px;
    line-height: 12px;
  }
}
.priceContent h1 {
  max-width: 495px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}
@media screen and (max-width: 575px) {
  .priceContent h1 {
    font-size: 28px;
    line-height: 30px;
  }
}
.priceContent .underH1 {
  text-align: center;
  max-width: 578px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 41px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 575px) {
  .priceContent .underH1 {
    font-size: 14px;
    line-height: 18px;
  }
}
.priceCards {
  display: flex;
  justify-content: space-between;
}
.cardPrice {
  width: 379px;
  height: 338px;
  border-radius: 20px;
  background-color: #F2F2F2;
  margin-bottom: 100px;
  transition: 0.25s;
}
@media screen and (max-width: 1235px) {
  .cardPrice {
    width: 32%;
  }
}
@media screen and (max-width: 1199px) {
  .cardPrice {
    width: 32%;
  }
}
@media screen and (max-width: 767px) {
  .cardPrice {
    height: 280px;
  }
}
@media screen and (max-width: 575px) {
  .cardPrice {
    height: 200px;
  }
}
.cardPrice:hover {
  transform: scale(1.05);
}
.cardPriceContent {
  margin: auto;
  padding-top: 13%;
  align-items: center;
  text-align: center;
}
.cardPriceContent .titlePriceCard {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: unset;
  text-transform: unset;
  letter-spacing: unset;
}
@media screen and (max-width: 1199px) {
  .cardPriceContent .titlePriceCard {
    font-size: 17px;
  }
}
@media screen and (max-width: 575px) {
  .cardPriceContent .titlePriceCard {
    font-size: 14px;
  }
}
.cardPriceContent .costPriceCard {
  margin-top: auto;
  font-size: 108px;
  line-height: 124px;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 1199px) {
  .cardPriceContent .costPriceCard {
    letter-spacing: normal;
    font-size: 106px;
  }
}
@media screen and (max-width: 991px) {
  .cardPriceContent .costPriceCard {
    font-size: 86px;
  }
}
@media screen and (max-width: 767px) {
  .cardPriceContent .costPriceCard {
    font-size: 68px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .cardPriceContent .costPriceCard {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 50px;
  }
}
@media screen and (max-width: 575px) {
  .cardPriceContent .costPriceCard {
    font-size: 42px;
  }
}
@media screen and (max-width: 380px) {
  .cardPriceContent .costPriceCard {
    font-size: 36px;
  }
}
.cardPriceContent .detailsPriceCard {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: unset;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #222;
}
@media screen and (max-width: 575px) {
  .cardPriceContent .detailsPriceCard {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
  }
}
.cardPriceContent .cardButtonLink {
  display: inline-block;
  margin-top: 15px;
  background-color: #0278ED;
  padding: 10px 25px 12px 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 18px;
  transition: 0.25s;
}
@media screen and (max-width: 575px) {
  .cardPriceContent .cardButtonLink {
    max-width: 85%;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0;
  }
}
.cardPriceContent .cardButtonLink:hover {
  background-color: #222;
  color: #fff;
}
.cardPriceContent .redBtn {
  background-color: #ff5437;
}
.cardPriceContent .yellowBtn {
  background-color: #FF9209;
}
.review {
  background-color: #F2F2F2;
}
.reviewsContent {
  padding-top: 100px;
  height: 100%;
}
.reviewsContent p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.reviewsContent h1 {
  max-width: 495px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}
.reviewsContent .underH1 {
  text-align: center;
  max-width: 578px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 41px;
  margin-right: auto;
  margin-left: auto;
}
.reviewsCard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
@media screen and (max-width: 991px) {
  .reviewsCard {
    flex-wrap: wrap;
    justify-content: unset;
  }
}
.reviewsCardItem {
  width: 379px;
  height: 224px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  transition: 0.25s;
}
@media screen and (max-width: 1235px) {
  .reviewsCardItem {
    width: 32%;
  }
}
@media screen and (max-width: 1199px) {
  .reviewsCardItem {
    width: 32%;
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) {
  .reviewsCardItem {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .reviewsCardItem br {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .reviewsCardItem {
    font-size: 14px;
  }
}
@media screen and (max-width: 380px) {
  .reviewsCardItem {
    margin-top: 5px;
  }
}
.reviewsCardItem .reviewsCardItemText {
  padding-left: 30px;
  padding-top: 40px;
}
@media screen and (max-width: 991px) {
  .reviewsCardItem .reviewsCardItemText {
    width: 90%;
  }
}
.reviewsCardItem .reviewUser {
  display: flex;
  padding-left: 30px;
  align-items: center;
  margin-top: 22px;
}
@media screen and (max-width: 991px) {
  .reviewsCardItem .reviewUser {
    margin-top: 35px;
  }
}
@media screen and (max-width: 575px) {
  .reviewsCardItem .reviewUser {
    margin-top: 25px;
  }
}
@media screen and (max-width: 380px) {
  .reviewsCardItem .reviewUser {
    margin-top: 5px;
  }
}
.reviewsCardItem .reviewUser .userName {
  margin-left: 10px;
  line-height: 20px;
}
@media screen and (max-width: 991px) {
  .reviewsCardItem .reviewUser .userName br {
    display: block;
  }
}
.reviewsCardItem .thirdUser {
  margin-top: 46px;
}
@media screen and (max-width: 991px) {
  .reviewsCardItem .thirdUser {
    margin-top: 35px;
  }
}
.reviewsCardItem:hover {
  transform: scale(1.05);
}
.downloadNow {
  width: 100%;
  padding-top: 100px;
  height: 100%;
  text-align: center;
}
.downloadNow p {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.downloadNow h1 {
  max-width: 495px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}
.downloadNow .underH1 {
  text-align: center;
  max-width: 578px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 22px;
  margin-right: auto;
  margin-left: auto;
}
.downloadNow img {
  margin-bottom: 141px;
}
.faq {
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
  color: #222;
  padding-bottom: 60px;
}
.faqTitle {
  padding-top: 105px;
  font-size: 32px;
  line-height: 36px;
}
@media screen and (max-width: 991px) {
  .faqTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  .faqTitle {
    font-size: 20px;
  }
}
.faqUnderTitle {
  font-size: 15px;
  line-height: 20px;
  margin-top: 13px;
}
@media screen and (max-width: 991px) {
  .faqUnderTitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .faqUnderTitle {
    font-size: 10px;
    line-height: 12px;
  }
}
.faqText {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
.faqTextSide .faqTextTitle {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .faqTextSide .faqTextTitle {
    max-width: 350px;
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .faqTextSide .faqTextTitle {
    font-size: 14px;
  }
}
.faqTextSide .faqTextUnderTitle {
  font-size: 16px;
  line-height: 24px;
  max-width: 576px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .faqTextSide .faqTextUnderTitle {
    font-size: 14px;
    max-width: 350px;
  }
  .faqTextSide .faqTextUnderTitle br {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .faqTextSide .faqTextUnderTitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
}
.footer {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 101px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer p {
  color: #B1B1B1;
  font-size: 16px;
  line-height: 24px;
  max-width: 90%;
  margin: auto;
}
@media screen and (max-width: 575px) {
  .footer p {
    font-size: 14px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.logoFooter {
  margin-bottom: 27px;
}
.brands {
  display: flex;
  margin-bottom: 27.25px;
}
.brands img {
  margin-right: 20px;
}
.brands :nth-child(1) {
  margin-left: auto;
}
.brands :nth-child(3) {
  margin-right: auto;
}
body {
  margin: 0;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  transition: 0.25s;
  color: #222;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1235px) {
  .container {
    max-width: 1080px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (max-width: 380px) {
  .container {
    max-width: 300px;
  }
}
.blue {
  color: #0278ED;
}
.red {
  color: #ff5437;
}
.yellow {
  color: #FF9209;
}
.pink {
  color: #E738CE;
}
.akwa {
  color: #00C6DF;
}
.purple {
  color: #B25DF8;
}
.gray {
  color: #666;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
